<h1>Listing college_fees</h1>

<table id="college_fees-table">
  <tr>
    <th>Bill date time</th>
    <th>Hall no</th>
    <th>Last paid amt</th>
    <th>This time pay</th>
    <th>Till now paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New College fee</a>